a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1110px;
    margin: 0 auto;
  }
}
